<h2>Главная страница</h2>
{% if is_auth %}
    <p>Привет, {{ user.name }}!</p>
{% else %}
    <p>Добро пожаловать на наш сайт!</p>
    <p>Если вы уже имеете учётную запись, то можете <a href="/signin">авторизоваться</a>,
        иначе можете перейти на страницу <a href="/signup">регистрации</a>, предоставить некоторые свои данные,
    и если всё пройдёт хорошо, то Вы сможете стать зарегистрированным пользователем нашего сайта и зайти в свой профиль.</p>
{% endif %}

<p>Данный сайт поддерживает регистрацию, авторизацию, загрузку и обрезку аватарок, переключение языков, имеет простой автоматический маршрутизатор (не нужно задавать маршруты вручную),
    хороший движок шаблонов, менеджер переводов.</p>
<p>Исходный код проекта и подробное описание расположены в этом репозитории: <a href="https://github.com/karamush/TestTask" target="_blank">https://github.com/karamush/TestTask</a></p>
