#main_content {
    /*  чтоб navbar не перекрывал контент */
    margin-top: 62px;
}

.center {
    margin: auto;
}

label {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 7px;
}

.btn {
    margin-right: 5px;
}