{% extends 'layout.twig' %}

{% block title %}{{ lang.page_404_title }}{% endblock %}

{% block content %}
    {% include "langs/#{current_lang}/404_text.twig" %}
    <div class="clearfix"></div>
    <img src="static/img/penguin_404_small.png" alt="Not found! Sorry! *~*" class="img-fluid" style="margin-top: 47px;">
{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}