{% extends 'layout.twig' %}

{% block title %}{{ lang.logout_title }}{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center">
        <form method="post" class="form-group">
            <input type="hidden" name="act" value="logout">
            <h4>{{ lang.logout_confirm }}</h4>
            <button type="submit" class="btn btn-danger btn-sm">{{ lang.logout_confirm_button }}</button>
            <a href="/" class="btn btn-primary btn-sm float-right">{{ lang.logout_lost_button }}</a>
        </form>
    </div>

{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}