{% extends 'layout.twig' %}

{% block title %}{{ lang.logout_title }}{% endblock %}

{% block content %}

    <form method="post">
        <input type="hidden" name="act" value="logout">
        <h4>{{ lang.logout_confirm }}</h4>
        <button type="submit" class="btn btn-warning btn-sm">{{ lang.logout_confirm_button }}</button>
    </form>

{% endblock %}

{% block js %}
{% endblock %}

{% block css %}
{% endblock %}